<body>
<form  >
  <h1>la moyen de transport</h1>
  <div class="main">
     <select class="form-select-lg" aria-label=".form-select-lg example">
      <option selected>ouvrir ce menu de sélection</option>
      <option value="train">train</option>
      <option value="bus">bus</option>
    </select>
    <div class="mb-3">
    <label  class="form-label"> ville de départ</label>
    <input type="text" class="form-control" formControlName="ville_depart" id="Ville_Depart" >
     </div>
  <div class="mb-3">
    <label  class="form-label">heure de départ </label>
    <input type="text" class="form-control"  formControlName="heure_depart"  id="heure_depart">
  </div>
  <div class="mb-3">
    <label class="form-label">ville d'arrivee  </label>
    <input type="text" class="form-control" formControlName="ville_arrivee"  id="ville-arrivee">
  </div>
  <div class="mb-3">
    <label  class="form-label">heure d'arrivee </label>
    <input type="text" class="form-control"  formControlName="heure_arrivee"  id="heure_arrivee">
  </div>


     <button type="submit" class="btn btn-primary" (click)="addMoyen()">Submit</button>
    </div>
     </form>

</body>
