.chochou{
   padding-top: 100px;
}


h1 {
   
   font-size: 70px;
   font-family: police;
   text-align: center;
   
 }
 
h1 {
   padding-top: 100px;
   width: 800px;
   background-color:rgb(0, 0,0,0.6);
   margin:auto ;
   color: #ffffff;
   padding:100px 0px 10px 0px;
   text-align: center;
   border-radius:15px 15px 0px 0px;
}

